#root {
  margin: 0;
  padding: 0;
}

.custom-w-60 {
  width: 60%;
}

.custom-vh-75 {
  min-height: 75vh;
}

.custom-min-vh-75 {
  min-height: 75vh;

}

.custom-img-container {
  z-index: -10;
  transform: rotate(8deg);
}

.custom-img {
  opacity: 0.7;
}

a {
  text-decoration: none;
}