#root {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

.custom-w-60 {
  width: 60%;
}

.custom-vh-75 {
  min-height: 75vh;
}

.custom-min-vh-75 {
  min-height: 75vh;
}

.custom-min-vh-71 {
  min-height: 71vh;
}

.custom-img-container {
  z-index: -10;
  transform: rotate(8deg);
}

.custom-img {
  opacity: 0.7;
}

.custom-min-punchline-h {
  margin-top: 2rem;
  min-height: 18rem;
}

.custom-min-joke-card-w {
  min-width: 100%;
}

@keyframes bounceIn {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  40% {
    transform: translateY(-40px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce-in {
  animation: bounceIn 2s infinite 0.1s;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate360 3s infinite 0.1s;
}

@keyframes rotate0 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}

.rotate-two {
  animation: rotate0 3s infinite 0.1s;
}

@keyframes fadeIn {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2
  }

  100% {
    opacity: 1
  }
}

.fade {
  animation: fadeIn 4s infinite 0.1s;
}

@keyframes bounceSide {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-30px);
    opacity: 1;
  }

  40% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(-15px);
  }
}

.bounce-side {
  animation: bounceSide 3s infinite 0.1s;
}

@media (min-width: 576px) {
  .custom-min-joke-card-w {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .custom-img-container {
    z-index: 0;
    transform: rotate(0deg);
  }
}

@media (min-width: 992px) {
  .custom-img-container {
    z-index: -10;
    transform: rotate(8deg);
  }
}

@media (min-width: 1200px) {
  .custom-min-joke-card-w {
    width: 100%;
  }
}

@media (min-width: 1400px) {}